html {
  // height: 100%;
}

body {
  // height: 100%;
  font-family: "Montserrat", sans-serif;
}
// #root {
//   height: 100%;
// }
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;

  @include for-size(mobile) {
    max-width: 768px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1280px;
  }
  @include for-size(fullDesktop) {
    width: 1440px;
  }
}
