$standart-color-black: #000000;
$standart-color-white: #fff;

$bg-second-color: rgba(0, 0, 0, 0.3);
$color-text-menu: #f2f2f2;
$bg-color-menu: rgba(31, 42, 60, 0.97);
$bg-color-menu-item: rgba(18, 18, 24, 0.8);
$color-hr-menu: #202025;

$color-text-card: #08bfb8;
$color-border-text-card: rgba(19, 19, 19, 0.5);
$bg-card: #212121;
$bg-border-card: #575757;
$color-text-position: #848484;
$color-btn-info-postition: #ac9500;
$color-designation-position: #ffdc00;

// font-family: 'Montserrat', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Yesteryear', cursive;
