.mobile-card-list {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-card-item {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  max-width: 420px;

  padding: 20px 18px 20px 30px;
  border: 1px solid $standart-color-white;
  border-radius: 6px;
  &:not(:first-child) {
    margin-top: 12px;
  }
  .firs-info-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
  }
  & .head-box {
    display: flex;
    align-items: center;
  }

  &:nth-child(2) {
    & .value-card {
      line-height: 2px;
      display: flex;
      flex-direction: column;
      & .plus-card {
        margin-left: 14px;
      }
      & .sub-val-card {
        margin-left: 12px;
      }
    }
  }
}
.active-card {
  border: none !important;
  margin-bottom: 128px;
}
.cylinders-card {
  position: absolute;
  top: 6px;
  left: 27px;
  z-index: 1;
}
.header-card {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: $standart-color-white;
}
.value-card {
  font-family: "Yesteryear", cursive;

  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: $color-text-card;
  -webkit-text-stroke: 1px $color-border-text-card;
}
.number-card {
  font-size: 8px;
  line-height: 12px;
}
.plus-card {
  font-size: 14px;
  line-height: 21px;

  color: $standart-color-white;
}
.wrapper-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  font-family: Montserrat;

  padding: 28px 13px 4px 20px;

  width: 100%;

  background: $bg-card;

  border: 1px solid $bg-border-card;
  border-radius: 12px;
  &::before {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 99%;
    height: 30px;

    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #434146;
    border-radius: 12px;
    transform: translate(-50%);
    z-index: -1;
  }

  opacity: 0;
  pointer-events: none;
}
.wrapper-card_active {
  opacity: 1;
  pointer-events: painted;
}
.value-position-list {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-family: Roboto;
  z-index: 1;
}
.value-position-item {
  // pointer-events: none;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.value-position {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  font-size: 15px;
  line-height: 11px;

  color: $color-designation-position;
}
.designation-position {
  font-weight: 400;
  font-size: 10px;
  line-height: 8px;

  margin-top: 3px;

  color: $standart-color-white;
}

.position-name {
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  color: $standart-color-white;
}
.wrapper-info-position {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  margin-bottom: 14px;
}
.info-contacts-position {
  font-weight: 700;
  font-size: 10px;
  line-height: 9px;

  margin-right: 33px;

  color: $color-text-position;
}
.price-position {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  white-space: nowrap;

  margin-right: 5px;

  color: $color-text-position;
}
.wrapper-contact-position_list {
  margin-left: 18px;
}
.wrapper-contact-item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
  margin-bottom: 19px;
}
.link-position {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 12px;
  line-height: 9px;
  color: $standart-color-white;
}
.container-btn-info {
  width: 100%;
  text-align: right;
}
.btn-info-position {
  font-weight: 400;
  font-size: 10px;
  line-height: 8px;

  color: $color-btn-info-postition;
  background-color: transparent;

  border: none;
}

.superLink {
  width: 100%;
  height: 100%;
}

.arrow-right {
  margin-left: 40px;
}
