.wrapper-header {
  padding-top: 18px;
  height: 100vh;
  background-image: linear-gradient(to top, $bg-second-color, $bg-second-color),
    url(../../../img/bg_mob.jpg);
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
}
//
.wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
